# Dependencies
node_modules/
.pnpm-store/

# Vite build outputs
dist/
dist-ssr/

# Electron-builder compilation outputs
dist_electron/
builder-debug.yml
builder-effective-config.yaml

# Executables & installers
*.exe
*.dmg
*.deb
*.rpm
*.snap
*.app
*.zip
*.tar.gz
*.asar

# Local environment configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & System files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?
Thumbs.db
